<div>
  <div class="col s12 event-card">
    <div class="card-panel white lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <%unless event.event_image.nil? %>
            <%= image_tag(event.event_image, height: 100, width:150) %>
          <%end %>
        </div>
        <div class="col s10">
          <a data-toggle="collapse" href="#collapse<%= i %>">
          <h5><%= event.name %></h5><span class="black-text"></span></a>
          <div>
            <div class="black-text">Location: <%= event.venue %> | <%= event.city %>, <%= event.state %></div>
            <div class="black-text">Performance Date(s): <%= event.start_date.strftime("%b %d, %Y") %> <% if event.end_date %> - <%= event.end_date.strftime("%b %d, %Y") %> <% end %></div>
            <div class="black-text">Estimated Attendance: <%= event.estimated_attendees %></div>
          </div>
        </div>
      </div>
      <!-- Collapsible Area-->
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse<%= i %>">View Details and Available Ads &#8595;</a>
            </h4>
          </div>
          <div id="collapse<%= i %>" + index class="panel-collapse collapse">
            <div class="list-group-item list-group-item-info">
              <strong>Event Description: </strong><%= event.description %><br>
            </div>
            <ul class="list-group">
              <%@unique_ads.each do |ad| %>
                <%if ad.event_id == event.id %>
                  <li class="list-group-item"><strong><%= ad.size %></strong> &middot; <%= number_to_currency(ad.price) %> &middot;
                  <%=  @ad_count = Ad.where(:advertiser_id => nil, :size => ad.size, :price => ad.price, :event_id => ad.event_id, :dimensions => ad.dimensions).size %> available
                  <button class='view-details-button'><%= link_to 'View Details', ads_new_charge_path(ad.id) %></button>
                  </li>
                <%end -%>
              <%end -%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
