<div class='container white'>
<h4 class='center'>Success!</h4>

<%= form_for [@ad.event.organization, @ad.event, @ad] do |f| %>
  <p>Thanks for your purchase. Now, upload the image you'd like to use for this ad.</p>
  <%= f.label :photo_url %><br>
	<%= f.file_field :image %><br>
  <%= f.hidden_field :seller, class: 'seller-field' %><br />
  </p>
<%= f.submit %>
<% end %>


<% unless @sellers.nil? %>
  <!-- Dropdown select for seller -->
  Who helped you?
    <div class="input-field col s12">
      <select class="browser-default seller-dropdown">
        <option value="" disabled selected>Referrer name</option>
        <% @sellers.each do |s| %>
            <option value=<%= s %>><%= s %></option>
        <% end %>
        </select>
    </div>
<% end %>

<h4>Image not ready quite yet?</h4>
<p>If you still need to create your image, you can upload it at any time between now and <%=@ad.event.deadline.strftime("%A, %B %d, %Y") %>. </p>


<%= link_to 'View All Purchased Ads', ads_purchased_ads_path, class:'btn'%>
<br>
<br>
</div>

