<h1><%= @ad.event.name %> </h1>
Organization: <%= @ad.event.organization.name %><br>
Dimensions: <%= @ad.dimensions %>
<br>
Price: <%= number_to_currency(@ad.price) %>
<%= @organization %>
<%= @event %><br>
<%= @ad_count = Ad.where(:advertiser_id => nil, :size => @ad.size, :price => @ad.price, :event_id => @ad.event_id, :dimensions => @ad.dimensions).size %> ad spots left!
<br>
<% if @user.user_type == 'advertiser' %>
  <button><%= link_to 'Buy Ad Spot', ads_purchase_path(@ad.event.organization_id, @ad.event_id, @ad.id) %></button>
<% end %>
<br>
<br>
<% if can? :update, @article %>
  <%= link_to "Edit", edit_organization_event_ad_path(@ad.event.organization, @ad.event, @ad) %><br>
<% end %>
<% if can? :destroy, @ad %>
  <%= form_for @ad, url: "/organizations/#{@ad.event.organization.id}/events/#{@ad.event.id}/ads/#{@ad.id}" , method: "DELETE" do |f| %>
  <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete this ad?"} %>
  <% end %>
<% end -%>


