<h1>Testing testing 123</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :business_name %><br />
    <%= f.text_field :business_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :business_street1 %><br />
    <%= f.text_field :business_street1, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :business_street2 %><br />
    <%= f.text_field :business_street2, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :business_city %><br />
    <%= f.text_field :business_city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :business_state %><br />
    <%= f.text_field :business_state, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :business_phone %><br />
    <%= f.text_field :business_phone, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "on" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
