<div class='page-content'>
  <h4 class="center">Sign up to get started</h4>
  <br>
  <div class="container white">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


    <div class='row'>
      <div class="input-field col s6">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, :required => true %>
      </div>

      <div class="input-field col s6">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, :required => true %>
      </div>
    </div>

      <div class="input-field col s12">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :required => true %>
      </div>

      <div class="input-field col s12">
        <%= f.label "Password (6 characters minimum)" %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="input-field col s12" data-toggle="buttons-radio">
        <%= f.label "Confirm your password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br>
      <div class="input-field">
          <div class="btn-group" >
            <table>
              <tr>
              <p>I want to:</p>
                <%= f.radio_button :user_type, "advertiser", :id=>"first", :style=>"display:none;" %>
                <label for="first">Buy playbill ads on behalf of a business</label>
                <br><br>
                <%= f.radio_button :user_type, "organization", :id=>"second", :style=>"display:none;" %>
                <label for="second">List, manage, and monetize playbill ads</label>
                <br><br>
              </tr>
            </table>
            <br>
          </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:'btn waves-effect waves-light' %>
      </div>
        <br><br>
    </div>
  <% end %>

  <% render "devise/shared/links" %>
</div>
