<h4 class="center">Edit your event.</h4>

<div class="container white">
    <%= form_for [@organization, @event] do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>

      <%= f.label :venue %>
      <%= f.text_field :venue, :required => true %>

      <%= f.label :city %>
      <%= f.text_field :city, :required => true %>

      <%= f.label :state %>
      <%= f.select(:state, options_for_select(us_states, "GA"), :required => true) %>

      <%= f.label :estimated_attendees %>
      <%= f.text_field :estimated_attendees, :required => true %>

      <%= f.label "Ad image deadline" %>
      <%= f.text_field :deadline, :class => "datepickerthing", :required => true %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label 'Event Start Date' %>
      <%= f.text_field :start_date, :class => "datepickerthing", :required => true %>

      <%= f.label "Event End Date (optional)" %>
      <%= f.text_field :end_date, :class => "datepickerthing", :required => true %>

      <%= f.submit :class => 'btn waves-effect waves-light'%>
    <% end -%>
    <br>
    <br>
  </div>
