<h2><%= @event.name %></h2>
<br><%= link_to	"Edit", edit_organization_event_path(@event.organization, @event) %>

<%= form_for @event, url: "/organizations/#{@event.organization.id}/events/#{@event.id}" , method: "DELETE" do |f| %>
<%= f.submit "Delete", data: { confirm: "Are you sure you want to delete #{@event.name}?"} %>
<% end -%>

<br>
<br>

Earned Revenue<br>
<%= number_to_currency(@revenue) %>
<br>
<br>

Ads Sold
<%= column_chart @sold_ads.group(:size).count %>

<%= (@event.deadline.to_date - DateTime.now.to_date).to_i %> days until deadline

<%= line_chart @sold_ads.group_by_day(:updated_at).count %>

<br>
<br>
<br>

<%= link_to "New Ad", new_organization_event_ad_path(@event.organization, @event) %>

<br>
<br>

<b>Ads: </b><br>
<% @event.ads.each do |ad| %>
	Size: <%= ad.size %><br>
	Price: $<%= ad.price %><br>
	Dimensions: <%= ad.dimensions %><br>
  Fulfilled?:
    <% if ad.advertiser_id.nil? %>
      Not fulfilled
      <% else %>
      Fulfilled by advertiser ID <%= ad.advertiser_id %>
    <% end %>
  <%= link_to "Edit", edit_organization_event_ad_path(ad.event.organization, ad.event, ad) %><br>
  <%= form_for ad, url: "/organizations/#{ad.event.organization.id}/events/#{ad.event.id}/ads/#{ad.id}" , method: "DELETE" do |f| %>
  <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete this ad?"} %>
  <% end -%>
	===============================
	<br>
<% end -%>

