
<div class='dashboard-title'>
<div class="event_image_container">
	<% if @event.event_image.present? %>
		<%= image_tag(@event.event_image, width: 150, :class => "event_image") %><br>
	<% end -%>
</div>	
  <h4 class="center"><%= @event.name %></h4>
  <p>PLAYBILL SALES DASHBOARD</p>
</div>
<br>

<div class='edit-delete-buttons'>
  <%= link_to "Post New Ad", new_organization_event_ad_path(@event.organization, @event), class:'btn' %>
  <%= link_to	"Edit Event", edit_organization_event_path(@event.organization, @event), class:'btn-flat' %>
  <%= form_for @event, url: "/organizations/#{@event.organization.id}/events/#{@event.id}" , method: "DELETE" do |f| %>
    <%= f.submit "Delete Event", data: { confirm: "Are you sure you want to delete #{@event.name}?"}, class:'btn-flat' %>
  <% end -%>
</div>

<% if @event.ads == [] %>
  <div class='no-ads-notice'><span class='glyphicon glyphicon-exclamation-sign', style="font-size: 15px;"></span> No ad data to display. Post ads for your event to get started!</div>
<% end %>

  <div class='dashboard-stats card-panel'>
    <div class='header-stats'>
      <div class='chart-title'><%= number_to_currency(@revenue) %></div>
      Revenue Earned to Date
    </div>
    <div class='header-stats'>
      <div class='chart-title'>
        <%= (@event.deadline.to_date - DateTime.now.to_date).to_i %>
      </div>
      Days Until Deadline
    </div>
  </div>

  <div class='row chart-area'>
    <div class='dashboard-chart card-panel'>
      <h5>Types of Ads Sold</h5>
      <%= column_chart @sold_ads.group(:size).count %>
    </div>

    <div class='dashboard-chart card-panel'>
    <h5>Revenue By Day</h5>
    <%= line_chart @sold_ad_prices.group_by_day(:updated_at).sum(:price) %>
    </div>
  </div>

  <div class='ad-list-container'>
    <h4 class="center">Purchased Ads</h4>
    <div class="ad-list">
      <%@event.ads.each do |ad| %>
      <% if ad.advertiser_id? %>
        <div class="ad-card">
          <div class="card">
            <div class="card-image">
              <% if ad.image_file_name.nil? %>
                <%= image_tag('http://www.seagravevillagehall.co.uk/images/images/large/awaiting-image.png') %>
              <% else %>
                <%= image_tag(ad.image) %>
              <% end %>
            </div>
            <div class="card-content">
              <p class='ad-card-title'><%= ad.size %></p>

              <strong>Price:</strong> $<%= ad.price %> |
              <%= ad.dimensions %><br><br>
              <strong>Advertiser:</strong> <br>
              <%= ad.advertiser.business.business_name %><br><br>
              <strong>Contact:</strong> <br>
              <%= ad.advertiser.first_name %> <%= ad.advertiser.last_name %><br>
              <%= ad.advertiser.email %><br>
            </div>
            <div class="card-action">
              <% if ad.image_file_name %>
                <i class="fa fa-download" aria-hidden="true"></i>
                <a href="<%= ad.image.url(:original, false) %>" download>Download</a>
              <% end %>
            </div>
           </div>
          </div>
        <% end %>
      <%end -%>
    </div>
  </div>

  <div class='container'>
    <h4 class="center">Available Ad Inventory</h4>
    <br>
    <div class='ad-inventory-section'>
      <%@event.ads.each do |ad| %>
        <%if ad.advertiser_id.nil? %>
          <div class="card available-ad-card teal">
            <div class="card-content">
              <p class='ad-card-title'><%= ad.size %></p>
              Dimensions: <%= ad.dimensions %><br>
              <strong>Price:</strong> $<%= ad.price %><br>
              <br>
              <div class='edit-delete-buttons'>
                <%= link_to "Edit", edit_organization_event_ad_path(ad.event.organization, ad.event, ad), class:'btn-flat' %>
                <%= form_for ad, url: "/organizations/#{ad.event.organization.id}/events/#{ad.event.id}/ads/#{ad.id}" , method: "DELETE" do |f| %>
                  <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete this ad?"}, class:'btn-flat' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
