<p id="notice"><%= notice %></p>
<div class='page-content'>
  <div class="container white">
    <h4 class="center"><%= @organization.name %></h4>
    <%= @organization.city %>, <%= @organization.state %>
    <br>
    <i>this organization profile created <%= time_ago_in_words(@organization.created_at) %> ago</i>
		
		<% if @organization.logo.present? %>
			<%= image_tag(@organization.logo, width: 150, :class => "event_image") %><br>
		<% end -%>

    <br>

    <% @organization.events.each do |event| %>
    	<br />
    	<%= event.name %><br>
    	<%= event.city %>,
    	<%= event.state %>.


    	<%= link_to "Show", organization_event_path(@organization, event) %>
    <% end -%>
    <br>
    <br>

    <%= link_to 'New Event', new_organization_event_path(@organization) %> |

    <%= link_to 'Edit', edit_organization_path(@organization) %> |
    <%= link_to 'Back', organizations_path %>
  </div>
</div>
