<p id="notice"><%= notice %></p>

<h1><%= @organization.name %></h1>
<%= @organization.city %>, <%= @organization.state %>
<p>this organization profile created <%= time_ago_in_words(@organization.created_at) %> ago</p>



<br>
<br>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
