<p id="notice"><%= notice %></p>
<div class="page-content">
	<div class="container white org_container">
		<div class='dashboard-title'>
			<% if @organization.logo.present? %>
				<%= image_tag(@organization.logo, width: 250, :class => "org_image") %><br>
			<% end -%>
	  <h4><%= @organization.name %></h4>
		<span class="org_attributes">Joined: </span><%= @organization.created_at.strftime ("%B %d, %Y") %>
		<br>
	  <span class="org_attributes">Located in: </span><%= @organization.city %>, <%= @organization.state %>
	  <br>
		<span class="org_attributes">About <%= @organization.name %>: </span><p><%= @organization.description %></p>
		<br>
		<br>

	  <%= link_to 'New Event', new_organization_event_path(@organization), class:'btn' %><br><br>
	  <%= link_to 'Edit Organization', edit_organization_path(@organization), class:'btn-flat' %> |
		<%= link_to 'Delete Organization', @organization, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn-flat' %>

	  </div>
	</div>
</div>