<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><%= image_tag("logo.png", width: 225)%></a>
      <span onclick="openNav()">open<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:white">menu</i></a></span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <% if user_signed_in? && current_user.user_type == 'organization' %>

            <li class='right'><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <li class='right'><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
            <li class='right'><%= link_to 'Manage My Events', organizations_path %></li>


        <% elsif user_signed_in? %>
            <li class='right'><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <li class='right'><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
            <li class='right'><%= link_to 'My Purchases', ads_purchased_ads_path, target: '_self' %></li>
            <li class='right'><%= link_to 'Browse Ads', ads_index_path, target: '_self' %></li>
        <% else %>

            <li class='right'><%= link_to "Sign Up", new_user_registration_path %></li>
            <li class='right'><%= link_to "Log In", new_user_session_path %></li>

        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </ul>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <% if user_signed_in? && current_user.user_type == 'organization' %>

            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
            <li><%= link_to 'Manage My Events', organizations_path %></li>


        <% elsif user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
            <li><%= link_to 'Edit account', edit_user_registration_path, target: '_self' %></li>
            <li><%= link_to 'My Purchases', ads_purchased_ads_path, target: '_self' %></li>
            <li><%= link_to 'Browse Ads', ads_index_path, target: '_self' %></li>
        <% else %>

            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>

        <% end %>
      </div>

    </div>
  </nav>
