<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">
  <title>Playbillify</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body class="grey lighten-4">


<!-- Displays fixed navbar only on homepage -->
  <%if current_page?(root_path) %>
    <%= render 'layouts/fixed_navbar' %>
  <%else %>
    <%= render 'layouts/navbar' %>
  <%end %>

  <!-- Page content -->
  <%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <script src="https://use.fontawesome.com/0903a93a87.js">
  </script>
</body>
</html>
